.DS_Store
build
###BrightScript specific
dist/apps
out/

#Rooibos generated
rooibosFunctionMap.brs

### Eclipse project files

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project
.classpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

node_modules/
out
**/roku_modules/
package-lock.json

!.vscode
.vscode/.env
dist/

.history