name: Update Dependencies

on:
  schedule:
    - cron: "0 0 * * 6"
  workflow_dispatch: {}

jobs:
  update_deps:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Update dependencies
        run: npm run update-deps

      - name: Install dependencies
        run: npm i

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          commit-message: "update dependencies"
          branch: chore/update-deps
          title: "[chore] update dependencies"
          body: "Weekly pull request to update dependencies."
